<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="font-family: Tahoma, Arial">
<h2>Heartbeat Service</h2>
<div>
    <table style="width:98%;" cellpadding="5" cellspacing="2">
        <thead>
            <tr>
                <th style="text-align:left;background-color: #e0e0e0;">Type</th>
                <th style="text-align:left;background-color: #e0e0e0;">Name</th>
                <th style="text-align:left;background-color: #e0e0e0;">Status</th>
            </tr>
        </thead>
        <tbody>
            {RESULTS}
        </tbody>
    </table>
</div>
</body>
</html>